.notes:before{
    content: '';
    width: 93px;
    height: 103px;
    background-image: url("/assets/lms/knowledge/admins_manual/image027.png");
    z-index: 1;
    position: absolute;
    left: 50px;
    top:100px;
}